# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystems are summarized

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List Open Data Science Tools
- Made examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy library
1. Matplotlib
1. Seaborn
1. Scikit-learn library

### Data Science Tools

| Data Science Tools | 
| -------------------| 
| Jupyter | 
| Apache Zeppelin |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

### This a simple arithmetic expression to mutiply then add integers

In [11]:
# Execute a simple expression 
(3*4)+5

17

In [38]:
# This will convert 200 minutes to hours by diving by 60

m = 200
hours = m/60

print ("hours:", hours)

hours: 3.3333333333333335

## Author 
Hector Santacruz